---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "@/components/Hero.astro";
import WhatIDo from "@/components/WhatIDo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="p-0 m-0 max-w-screen">
    <Header />
    <main class="container mx-auto md:px-10">
      <Hero />
      <WhatIDo />
    </main>
    <Footer />
  </body>
</html>
