---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-5 pb-10"
>
  
  <div class="flex items-center gap-6 text-4xl">
    <a
      href="https://github.com/mrezaamini"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-pyellow shadow-card hover:shadow-hover transition"
      aria-label="GitHub Profile"
      >
      <Icon name="github" />
    </a>
    <a
      href="https://www.linkedin.com/in/mohammadreza-amini-15b49719a/"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-pgreen shadow-card hover:shadow-hover transition"
      aria-label="LinkedIn Profile"
      >
      <Icon name="linkedin" />
    </a>
    <a
      href="https://scholar.google.com/citations?hl=en&user=qo9Ym1MAAAAJ"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-ppink shadow-card hover:shadow-hover transition"
      aria-label="Google Scholar Profile"
      >
      <Icon name="scholar" />
    </a>
    
    <a
      href="https://orcid.org/0009-0009-5711-2162"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-pblue shadow-card hover:shadow-hover transition"
      aria-label="ORCID Profile"
      >
      <Icon name="orcid" />
    </a>
  </div>
  <div class="text-sm font-light opacity-70">
&copy; {today.getFullYear()} Mohammadreza Amini. All rights reserved.
  </div>
  
  
</footer>
