---
import Link from "./HeaderLink.astro";
import "../styles/hamburgers.css";
import { Image } from "astro:assets";
---

<header>
  <nav
  class="flex container mx-auto md:p-10 px-4 py-6
         items-center justify-between
         min-h-[150px] pt-0! pb-0!"
>
    <a
  href="/"
  aria-label="Home"
  class="flex items-center font-logo text-bold tracking-wide text-xl sm:text-2xl md:text-3xl lg:text-3xl
         opacity-100 hover:opacity-100 transition-opacity">
  AMini
</a>
    <ul class="items-center md:gap-8 text-nowrap hidden md:flex">
      <li><Link href="/" text="Home" style="primary" /></li>
      <!-- <li><Link href="/about" text="Work" style="secondary" /></li> -->
      <li><Link href="/publications" text="Publications" style="tertiary" /></li>
    </ul>
    <div class="md:hidden z-40">
      <button class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div id="navigation" class="fixed top-0 left-0 w-full h-full bg-white transform -translate-y-full transition-transform duration-300 ease-in-out">
        <ul class="flex flex-col items-center justify-center h-full gap-8 text-nowrap">
          <li><Link href="/" text="Home" style="primary" /></li>
          <li><Link href="/about" text="What I do" style="secondary" /></li>
          <li><Link href="/blog" text="My work" style="tertiary" /></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<script is:inline>
  function init(){
    const hamburger = document.querySelector(".hamburger");
    const menu = document.getElementById("navigation");

    if (hamburger && menu) {
      hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("is-active");
        menu.classList.toggle("-translate-y-full");
        menu.classList.toggle("translate-y-0");
      });
    }
  }
  init();
  document.addEventListener("astro:after-swap", init);
</script>